body { 
			padding: 0 0; background-color: #EBEBEB;
			background-image:url(wallpaper.jpg);
			
}

.z-label{
	font-size:30px ;color:blue; font-family:Comic Sans MS , cursive
}

z-window-content
{
	padding: 0 0; background-color: #EBEBEB;
	
}
